.user-avatar {
    width: 50px;
    height: 50px;
    min-width: 50px;
    margin-right: 12px;
    border-radius: 50%;
    border: 1px solid rgba(30, 37, 50, 0.08);
    justify-content: center;
    align-items: center;
    display: flex;

    > p,
    > i {
      color: white;
      font-size: 22px;
      font-weight: 500;
    }
  }
  