.messages__message--typing {
    left: 0;
    bottom: 110px;
    font-weight: 500;
    color: #29475C;
    padding: 12px 20px;
    position: absolute;
    word-break: break-word;
    background-color: #fff;
    border-radius: 0 25px 25px 0;
}